NEXT_PUBLIC_SITE_URL=http://localhost:3000
BACKEND_URL=http://localhost:8081

# Vercel Production:
# NEXT_PUBLIC_SITE_URL=https://shilp-website.vercel.app
# BACKEND_URL=https://shilp-backend-dusky.vercel.app